/*
 * CoinGeckoDemoApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.coingecko.api.apis;

import com.coingecko.api.ApiHelper;
import com.coingecko.api.Server;
import com.coingecko.api.exceptions.ApiException;
import com.coingecko.api.http.request.HttpMethod;
import com.coingecko.api.http.response.ApiResponse;
import com.coingecko.api.models.AssetPlatform;
import com.coingecko.api.models.CategoriesList;
import com.coingecko.api.models.Category1;
import com.coingecko.api.models.CoinsContractAddress;
import com.coingecko.api.models.CoinsId;
import com.coingecko.api.models.CoinsIdHistory;
import com.coingecko.api.models.CoinsIdTickers;
import com.coingecko.api.models.CoinsList;
import com.coingecko.api.models.CoinsMarket;
import com.coingecko.api.models.CoinsMarketChart;
import com.coingecko.api.models.Currency;
import com.coingecko.api.models.Days;
import com.coingecko.api.models.DerivativesExchange;
import com.coingecko.api.models.DerivativesExchangesId;
import com.coingecko.api.models.DerivativesExchangesList;
import com.coingecko.api.models.DerivativesTicker;
import com.coingecko.api.models.DexPairFormat;
import com.coingecko.api.models.DexesList;
import com.coingecko.api.models.Duration;
import com.coingecko.api.models.EntitiesList;
import com.coingecko.api.models.Entity;
import com.coingecko.api.models.EntityType;
import com.coingecko.api.models.Exchange1;
import com.coingecko.api.models.ExchangeRates;
import com.coingecko.api.models.ExchangesId;
import com.coingecko.api.models.ExchangesList;
import com.coingecko.api.models.Filter;
import com.coingecko.api.models.Global;
import com.coingecko.api.models.GlobalDeFi;
import com.coingecko.api.models.Include;
import com.coingecko.api.models.Include2;
import com.coingecko.api.models.Include3;
import com.coingecko.api.models.IncludeTickers;
import com.coingecko.api.models.IncludeTokens;
import com.coingecko.api.models.Interval;
import com.coingecko.api.models.Locale;
import com.coingecko.api.models.MultiPoolAddressData;
import com.coingecko.api.models.MultiTokenData;
import com.coingecko.api.models.NetworksList;
import com.coingecko.api.models.NfTsList;
import com.coingecko.api.models.NftData;
import com.coingecko.api.models.Ohlcv;
import com.coingecko.api.models.OnchainSimplePrice;
import com.coingecko.api.models.Order;
import com.coingecko.api.models.Order1;
import com.coingecko.api.models.Order2;
import com.coingecko.api.models.Order3;
import com.coingecko.api.models.Order4;
import com.coingecko.api.models.Order5;
import com.coingecko.api.models.Order6;
import com.coingecko.api.models.Order7;
import com.coingecko.api.models.PingServer;
import com.coingecko.api.models.Pool;
import com.coingecko.api.models.PoolAddressData;
import com.coingecko.api.models.PoolSearch;
import com.coingecko.api.models.PoolTokensInfo;
import com.coingecko.api.models.Precision;
import com.coingecko.api.models.PublicTreasuryEntity;
import com.coingecko.api.models.PublicTreasuryEntityChart;
import com.coingecko.api.models.PublicTreasuryTransactionHistory;
import com.coingecko.api.models.Search;
import com.coingecko.api.models.SimplePrice;
import com.coingecko.api.models.Sort;
import com.coingecko.api.models.Sort2;
import com.coingecko.api.models.Status;
import com.coingecko.api.models.Timeframe;
import com.coingecko.api.models.TokenData;
import com.coingecko.api.models.TokenInfo;
import com.coingecko.api.models.TokenInfoRecentlyUpdated;
import com.coingecko.api.models.TokenLists;
import com.coingecko.api.models.Trades;
import com.coingecko.api.models.TrendingSearch;
import com.coingecko.api.models.containers.ExchangeVolumeChart;
import com.coingecko.api.models.containers.PublicTreasury;
import com.fasterxml.jackson.core.type.TypeReference;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class Api extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public Api(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * To check the API server status.
     * @return    Returns the PingServer wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<PingServer> pingServer() throws ApiException, IOException {
        return preparePingServerRequest().execute();
    }

    /**
     * To check the API server status.
     * @return    Returns the PingServer wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<PingServer>> pingServerAsync() {
        try {
            return preparePingServerRequest().executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for pingServer.
     */
    private ApiCall<ApiResponse<PingServer>, ApiException> preparePingServerRequest() {
        return new ApiCall.Builder<ApiResponse<PingServer>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/ping")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, PingServer.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query the prices of one or more coins by using their unique Coin API IDs, symbols, or
     * names.
     * @param  vsCurrencies  Required parameter: Target currency of coins, comma-separated if
     *         querying more than 1 currency. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)
     * @param  ids  Optional parameter: Coins' IDs, comma-separated if querying more than 1 coin.
     *         *refers to [`/coins/list`](/reference/coins-list)
     * @param  names  Optional parameter: Coins' names, comma-separated if querying more than 1
     *         coin.
     * @param  symbols  Optional parameter: Coins' symbols, comma-separated if querying more than 1
     *         coin.
     * @param  includeTokens  Optional parameter: For `symbols` lookups, specify `all` to include
     *         all matching tokens. Default `top` returns top-ranked tokens by market cap or volume.
     * @param  includeMarketCap  Optional parameter: Include market capitalization. Default: false
     * @param  include24HrVol  Optional parameter: Include 24-hour trading volume. Default: false
     * @param  include24HrChange  Optional parameter: Include 24-hour change percentage. Default:
     *         false
     * @param  includeLastUpdatedAt  Optional parameter: Include last updated price time as a UNIX
     *         timestamp. Default: false
     * @param  precision  Optional parameter: Decimal places for currency price value
     * @return    Returns the Map of String, SimplePrice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Map<String, SimplePrice>> simplePrice(
            final String vsCurrencies,
            final String ids,
            final String names,
            final String symbols,
            final IncludeTokens includeTokens,
            final Boolean includeMarketCap,
            final Boolean include24HrVol,
            final Boolean include24HrChange,
            final Boolean includeLastUpdatedAt,
            final Precision precision) throws ApiException, IOException {
        return prepareSimplePriceRequest(vsCurrencies, ids, names, symbols, includeTokens,
                includeMarketCap, include24HrVol, include24HrChange, includeLastUpdatedAt,
                precision).execute();
    }

    /**
     * To query the prices of one or more coins by using their unique Coin API IDs, symbols, or
     * names.
     * @param  vsCurrencies  Required parameter: Target currency of coins, comma-separated if
     *         querying more than 1 currency. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)
     * @param  ids  Optional parameter: Coins' IDs, comma-separated if querying more than 1 coin.
     *         *refers to [`/coins/list`](/reference/coins-list)
     * @param  names  Optional parameter: Coins' names, comma-separated if querying more than 1
     *         coin.
     * @param  symbols  Optional parameter: Coins' symbols, comma-separated if querying more than 1
     *         coin.
     * @param  includeTokens  Optional parameter: For `symbols` lookups, specify `all` to include
     *         all matching tokens. Default `top` returns top-ranked tokens by market cap or volume.
     * @param  includeMarketCap  Optional parameter: Include market capitalization. Default: false
     * @param  include24HrVol  Optional parameter: Include 24-hour trading volume. Default: false
     * @param  include24HrChange  Optional parameter: Include 24-hour change percentage. Default:
     *         false
     * @param  includeLastUpdatedAt  Optional parameter: Include last updated price time as a UNIX
     *         timestamp. Default: false
     * @param  precision  Optional parameter: Decimal places for currency price value
     * @return    Returns the Map of String, SimplePrice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Map<String, SimplePrice>>> simplePriceAsync(
            final String vsCurrencies,
            final String ids,
            final String names,
            final String symbols,
            final IncludeTokens includeTokens,
            final Boolean includeMarketCap,
            final Boolean include24HrVol,
            final Boolean include24HrChange,
            final Boolean includeLastUpdatedAt,
            final Precision precision) {
        try {
            return prepareSimplePriceRequest(vsCurrencies, ids, names, symbols, includeTokens,
            includeMarketCap, include24HrVol, include24HrChange, includeLastUpdatedAt,
            precision).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for simplePrice.
     */
    private ApiCall<ApiResponse<Map<String, SimplePrice>>, ApiException> prepareSimplePriceRequest(
            final String vsCurrencies,
            final String ids,
            final String names,
            final String symbols,
            final IncludeTokens includeTokens,
            final Boolean includeMarketCap,
            final Boolean include24HrVol,
            final Boolean include24HrChange,
            final Boolean includeLastUpdatedAt,
            final Precision precision) {
        return new ApiCall.Builder<ApiResponse<Map<String, SimplePrice>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/simple/price")
                        .queryParam(param -> param.key("vs_currencies")
                                .value(vsCurrencies))
                        .queryParam(param -> param.key("ids")
                                .value((ids != null) ? ids : "bitcoin").isRequired(false))
                        .queryParam(param -> param.key("names")
                                .value((names != null) ? names : "Bitcoin").isRequired(false))
                        .queryParam(param -> param.key("symbols")
                                .value((symbols != null) ? symbols : "btc").isRequired(false))
                        .queryParam(param -> param.key("include_tokens")
                                .value((includeTokens != null) ? includeTokens.value() : null).isRequired(false))
                        .queryParam(param -> param.key("include_market_cap")
                                .value(includeMarketCap).isRequired(false))
                        .queryParam(param -> param.key("include_24hr_vol")
                                .value(include24HrVol).isRequired(false))
                        .queryParam(param -> param.key("include_24hr_change")
                                .value(include24HrChange).isRequired(false))
                        .queryParam(param -> param.key("include_last_updated_at")
                                .value(includeLastUpdatedAt).isRequired(false))
                        .queryParam(param -> param.key("precision")
                                .value((precision != null) ? precision.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response,
                                        new TypeReference<Map<String, SimplePrice>>(){}))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To search for coins, categories and markets listed on CoinGecko.
     * @param  query  Required parameter: Search query
     * @return    Returns the Search wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Search> searchData(
            final String query) throws ApiException, IOException {
        return prepareSearchDataRequest(query).execute();
    }

    /**
     * To search for coins, categories and markets listed on CoinGecko.
     * @param  query  Required parameter: Search query
     * @return    Returns the Search wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Search>> searchDataAsync(
            final String query) {
        try {
            return prepareSearchDataRequest(query).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchData.
     */
    private ApiCall<ApiResponse<Search>, ApiException> prepareSearchDataRequest(
            final String query) {
        return new ApiCall.Builder<ApiResponse<Search>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/search")
                        .queryParam(param -> param.key("query")
                                .value(query))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, Search.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the supported currencies on CoinGecko.
     * @return    Returns the List of String wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<String>> simpleSupportedCurrencies() throws ApiException, IOException {
        return prepareSimpleSupportedCurrenciesRequest().execute();
    }

    /**
     * To query all the supported currencies on CoinGecko.
     * @return    Returns the List of String wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<String>>> simpleSupportedCurrenciesAsync() {
        try {
            return prepareSimpleSupportedCurrenciesRequest().executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for simpleSupportedCurrencies.
     */
    private ApiCall<ApiResponse<List<String>>, ApiException> prepareSimpleSupportedCurrenciesRequest() {
        return new ApiCall.Builder<ApiResponse<List<String>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/simple/supported_vs_currencies")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        String[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query one or more token prices by using their token contract addresses.
     * @param  id  Required parameter: Asset platform's ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list)
     * @param  contractAddresses  Required parameter: Token contract addresses, comma-separated if
     *         querying more than 1 token
     * @param  vsCurrencies  Required parameter: Target currency of coins, comma-separated if
     *         querying more than 1 currency. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)
     * @param  includeMarketCap  Optional parameter: Include market capitalization. Default: false
     * @param  include24HrVol  Optional parameter: Include 24-hour trading volume. Default: false
     * @param  include24HrChange  Optional parameter: Include 24-hour change percentage. Default:
     *         false
     * @param  includeLastUpdatedAt  Optional parameter: Include last updated price time as a UNIX
     *         timestamp. Default: false
     * @param  precision  Optional parameter: Decimal places for currency price value
     * @return    Returns the Map of String, SimplePrice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Map<String, SimplePrice>> simpleTokenPrice(
            final String id,
            final String contractAddresses,
            final String vsCurrencies,
            final Boolean includeMarketCap,
            final Boolean include24HrVol,
            final Boolean include24HrChange,
            final Boolean includeLastUpdatedAt,
            final Precision precision) throws ApiException, IOException {
        return prepareSimpleTokenPriceRequest(id, contractAddresses, vsCurrencies, includeMarketCap,
                include24HrVol, include24HrChange, includeLastUpdatedAt, precision).execute();
    }

    /**
     * To query one or more token prices by using their token contract addresses.
     * @param  id  Required parameter: Asset platform's ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list)
     * @param  contractAddresses  Required parameter: Token contract addresses, comma-separated if
     *         querying more than 1 token
     * @param  vsCurrencies  Required parameter: Target currency of coins, comma-separated if
     *         querying more than 1 currency. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)
     * @param  includeMarketCap  Optional parameter: Include market capitalization. Default: false
     * @param  include24HrVol  Optional parameter: Include 24-hour trading volume. Default: false
     * @param  include24HrChange  Optional parameter: Include 24-hour change percentage. Default:
     *         false
     * @param  includeLastUpdatedAt  Optional parameter: Include last updated price time as a UNIX
     *         timestamp. Default: false
     * @param  precision  Optional parameter: Decimal places for currency price value
     * @return    Returns the Map of String, SimplePrice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Map<String, SimplePrice>>> simpleTokenPriceAsync(
            final String id,
            final String contractAddresses,
            final String vsCurrencies,
            final Boolean includeMarketCap,
            final Boolean include24HrVol,
            final Boolean include24HrChange,
            final Boolean includeLastUpdatedAt,
            final Precision precision) {
        try {
            return prepareSimpleTokenPriceRequest(id, contractAddresses, vsCurrencies, includeMarketCap,
            include24HrVol, include24HrChange, includeLastUpdatedAt, precision).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for simpleTokenPrice.
     */
    private ApiCall<ApiResponse<Map<String, SimplePrice>>, ApiException> prepareSimpleTokenPriceRequest(
            final String id,
            final String contractAddresses,
            final String vsCurrencies,
            final Boolean includeMarketCap,
            final Boolean include24HrVol,
            final Boolean include24HrChange,
            final Boolean includeLastUpdatedAt,
            final Precision precision) {
        return new ApiCall.Builder<ApiResponse<Map<String, SimplePrice>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/simple/token_price/{id}")
                        .queryParam(param -> param.key("contract_addresses")
                                .value(contractAddresses))
                        .queryParam(param -> param.key("vs_currencies")
                                .value(vsCurrencies))
                        .queryParam(param -> param.key("include_market_cap")
                                .value(includeMarketCap).isRequired(false))
                        .queryParam(param -> param.key("include_24hr_vol")
                                .value(include24HrVol).isRequired(false))
                        .queryParam(param -> param.key("include_24hr_change")
                                .value(include24HrChange).isRequired(false))
                        .queryParam(param -> param.key("include_last_updated_at")
                                .value(includeLastUpdatedAt).isRequired(false))
                        .queryParam(param -> param.key("precision")
                                .value((precision != null) ? precision.value() : null).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response,
                                        new TypeReference<Map<String, SimplePrice>>(){}))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the supported coins on CoinGecko with coin ID, name and symbol.
     * @param  includePlatform  Optional parameter: Include platform and token's contract addresses.
     *         Default: false
     * @param  status  Optional parameter: Filter by status of coins. Default: active
     * @return    Returns the List of CoinsList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<CoinsList>> coinsList(
            final Boolean includePlatform,
            final Status status) throws ApiException, IOException {
        return prepareCoinsListRequest(includePlatform, status).execute();
    }

    /**
     * To query all the supported coins on CoinGecko with coin ID, name and symbol.
     * @param  includePlatform  Optional parameter: Include platform and token's contract addresses.
     *         Default: false
     * @param  status  Optional parameter: Filter by status of coins. Default: active
     * @return    Returns the List of CoinsList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<CoinsList>>> coinsListAsync(
            final Boolean includePlatform,
            final Status status) {
        try {
            return prepareCoinsListRequest(includePlatform, status).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsList.
     */
    private ApiCall<ApiResponse<List<CoinsList>>, ApiException> prepareCoinsListRequest(
            final Boolean includePlatform,
            final Status status) {
        return new ApiCall.Builder<ApiResponse<List<CoinsList>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/list")
                        .queryParam(param -> param.key("include_platform")
                                .value(includePlatform).isRequired(false))
                        .queryParam(param -> param.key("status")
                                .value((status != null) ? status.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        CoinsList[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the metadata (image, websites, socials, description, contract address, etc.) and
     * market data (price, ATH, exchange tickers, etc.) of a coin based on a particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list)
     * @param  localization  Optional parameter: Include all localized languages in the response.
     *         Default: true
     * @param  tickers  Optional parameter: Include tickers data. Default: true
     * @param  marketData  Optional parameter: Include market data. Default: true
     * @param  communityData  Optional parameter: Include community data. Default: true
     * @param  developerData  Optional parameter: Include developer data. Default: true
     * @param  sparkline  Optional parameter: Include sparkline 7-day data. Default: false
     * @param  includeCategoriesDetails  Optional parameter: Include categories details. Default:
     *         false
     * @param  dexPairFormat  Optional parameter: Set to `symbol` to display DEX pair base and
     *         target as symbols. Default: `contract_address`
     * @return    Returns the CoinsId wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CoinsId> coinsId(
            final String id,
            final Boolean localization,
            final Boolean tickers,
            final Boolean marketData,
            final Boolean communityData,
            final Boolean developerData,
            final Boolean sparkline,
            final Boolean includeCategoriesDetails,
            final DexPairFormat dexPairFormat) throws ApiException, IOException {
        return prepareCoinsIdRequest(id, localization, tickers, marketData, communityData,
                developerData, sparkline, includeCategoriesDetails, dexPairFormat).execute();
    }

    /**
     * To query all the metadata (image, websites, socials, description, contract address, etc.) and
     * market data (price, ATH, exchange tickers, etc.) of a coin based on a particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list)
     * @param  localization  Optional parameter: Include all localized languages in the response.
     *         Default: true
     * @param  tickers  Optional parameter: Include tickers data. Default: true
     * @param  marketData  Optional parameter: Include market data. Default: true
     * @param  communityData  Optional parameter: Include community data. Default: true
     * @param  developerData  Optional parameter: Include developer data. Default: true
     * @param  sparkline  Optional parameter: Include sparkline 7-day data. Default: false
     * @param  includeCategoriesDetails  Optional parameter: Include categories details. Default:
     *         false
     * @param  dexPairFormat  Optional parameter: Set to `symbol` to display DEX pair base and
     *         target as symbols. Default: `contract_address`
     * @return    Returns the CoinsId wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CoinsId>> coinsIdAsync(
            final String id,
            final Boolean localization,
            final Boolean tickers,
            final Boolean marketData,
            final Boolean communityData,
            final Boolean developerData,
            final Boolean sparkline,
            final Boolean includeCategoriesDetails,
            final DexPairFormat dexPairFormat) {
        try {
            return prepareCoinsIdRequest(id, localization, tickers, marketData, communityData,
            developerData, sparkline, includeCategoriesDetails, dexPairFormat).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsId.
     */
    private ApiCall<ApiResponse<CoinsId>, ApiException> prepareCoinsIdRequest(
            final String id,
            final Boolean localization,
            final Boolean tickers,
            final Boolean marketData,
            final Boolean communityData,
            final Boolean developerData,
            final Boolean sparkline,
            final Boolean includeCategoriesDetails,
            final DexPairFormat dexPairFormat) {
        return new ApiCall.Builder<ApiResponse<CoinsId>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}")
                        .queryParam(param -> param.key("localization")
                                .value(localization).isRequired(false))
                        .queryParam(param -> param.key("tickers")
                                .value(tickers).isRequired(false))
                        .queryParam(param -> param.key("market_data")
                                .value(marketData).isRequired(false))
                        .queryParam(param -> param.key("community_data")
                                .value(communityData).isRequired(false))
                        .queryParam(param -> param.key("developer_data")
                                .value(developerData).isRequired(false))
                        .queryParam(param -> param.key("sparkline")
                                .value(sparkline).isRequired(false))
                        .queryParam(param -> param.key("include_categories_details")
                                .value(includeCategoriesDetails).isRequired(false))
                        .queryParam(param -> param.key("dex_pair_format")
                                .value((dexPairFormat != null) ? dexPairFormat.value() : null).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CoinsId.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the supported coins with price, market cap, volume and market related data.
     * @param  vsCurrency  Required parameter: Target currency of coins and market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)
     * @param  ids  Optional parameter: Coins' IDs, comma-separated if querying more than 1 coin.
     *         *refers to [`/coins/list`](/reference/coins-list)
     * @param  names  Optional parameter: Coins' names, comma-separated if querying more than 1
     *         coin.
     * @param  symbols  Optional parameter: Coins' symbols, comma-separated if querying more than 1
     *         coin.
     * @param  includeTokens  Optional parameter: For `symbols` lookups, specify `all` to include
     *         all matching tokens. Default `top` returns top-ranked tokens by market cap or volume.
     * @param  category  Optional parameter: Filter based on coins' category. *refers to
     *         [`/coins/categories/list`](/reference/coins-categories-list)
     * @param  order  Optional parameter: Sort result by field. Default: market_cap_desc
     * @param  perPage  Optional parameter: Total results per page. Default: 100 Valid values:
     *         1...250
     * @param  page  Optional parameter: Page through results. Default: 1
     * @param  sparkline  Optional parameter: Include sparkline 7-day data. Default: false
     * @param  priceChangePercentage  Optional parameter: Include price change percentage timeframe,
     *         comma-separated if querying more than 1 timeframe. Valid values: `1h`, `24h`, `7d`,
     *         `14d`, `30d`, `200d`, `1y`
     * @param  locale  Optional parameter: Language background. Default: en
     * @param  precision  Optional parameter: Decimal places for currency price value
     * @param  includeRehypothecated  Optional parameter: Include rehypothecated tokens in results.
     *         When true, returns `market_cap_rank_with_rehypothecated` field. Default: false
     * @return    Returns the List of CoinsMarket wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<CoinsMarket>> coinsMarkets(
            final String vsCurrency,
            final String ids,
            final String names,
            final String symbols,
            final IncludeTokens includeTokens,
            final String category,
            final Order order,
            final Integer perPage,
            final Integer page,
            final Boolean sparkline,
            final String priceChangePercentage,
            final Locale locale,
            final Precision precision,
            final Boolean includeRehypothecated) throws ApiException, IOException {
        return prepareCoinsMarketsRequest(vsCurrency, ids, names, symbols, includeTokens, category,
                order, perPage, page, sparkline, priceChangePercentage, locale, precision,
                includeRehypothecated).execute();
    }

    /**
     * To query all the supported coins with price, market cap, volume and market related data.
     * @param  vsCurrency  Required parameter: Target currency of coins and market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)
     * @param  ids  Optional parameter: Coins' IDs, comma-separated if querying more than 1 coin.
     *         *refers to [`/coins/list`](/reference/coins-list)
     * @param  names  Optional parameter: Coins' names, comma-separated if querying more than 1
     *         coin.
     * @param  symbols  Optional parameter: Coins' symbols, comma-separated if querying more than 1
     *         coin.
     * @param  includeTokens  Optional parameter: For `symbols` lookups, specify `all` to include
     *         all matching tokens. Default `top` returns top-ranked tokens by market cap or volume.
     * @param  category  Optional parameter: Filter based on coins' category. *refers to
     *         [`/coins/categories/list`](/reference/coins-categories-list)
     * @param  order  Optional parameter: Sort result by field. Default: market_cap_desc
     * @param  perPage  Optional parameter: Total results per page. Default: 100 Valid values:
     *         1...250
     * @param  page  Optional parameter: Page through results. Default: 1
     * @param  sparkline  Optional parameter: Include sparkline 7-day data. Default: false
     * @param  priceChangePercentage  Optional parameter: Include price change percentage timeframe,
     *         comma-separated if querying more than 1 timeframe. Valid values: `1h`, `24h`, `7d`,
     *         `14d`, `30d`, `200d`, `1y`
     * @param  locale  Optional parameter: Language background. Default: en
     * @param  precision  Optional parameter: Decimal places for currency price value
     * @param  includeRehypothecated  Optional parameter: Include rehypothecated tokens in results.
     *         When true, returns `market_cap_rank_with_rehypothecated` field. Default: false
     * @return    Returns the List of CoinsMarket wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<CoinsMarket>>> coinsMarketsAsync(
            final String vsCurrency,
            final String ids,
            final String names,
            final String symbols,
            final IncludeTokens includeTokens,
            final String category,
            final Order order,
            final Integer perPage,
            final Integer page,
            final Boolean sparkline,
            final String priceChangePercentage,
            final Locale locale,
            final Precision precision,
            final Boolean includeRehypothecated) {
        try {
            return prepareCoinsMarketsRequest(vsCurrency, ids, names, symbols, includeTokens, category,
            order, perPage, page, sparkline, priceChangePercentage, locale, precision,
            includeRehypothecated).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsMarkets.
     */
    private ApiCall<ApiResponse<List<CoinsMarket>>, ApiException> prepareCoinsMarketsRequest(
            final String vsCurrency,
            final String ids,
            final String names,
            final String symbols,
            final IncludeTokens includeTokens,
            final String category,
            final Order order,
            final Integer perPage,
            final Integer page,
            final Boolean sparkline,
            final String priceChangePercentage,
            final Locale locale,
            final Precision precision,
            final Boolean includeRehypothecated) {
        return new ApiCall.Builder<ApiResponse<List<CoinsMarket>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/markets")
                        .queryParam(param -> param.key("vs_currency")
                                .value(vsCurrency))
                        .queryParam(param -> param.key("ids")
                                .value((ids != null) ? ids : "bitcoin").isRequired(false))
                        .queryParam(param -> param.key("names")
                                .value((names != null) ? names : "Bitcoin").isRequired(false))
                        .queryParam(param -> param.key("symbols")
                                .value((symbols != null) ? symbols : "btc").isRequired(false))
                        .queryParam(param -> param.key("include_tokens")
                                .value((includeTokens != null) ? includeTokens.value() : null).isRequired(false))
                        .queryParam(param -> param.key("category")
                                .value(category).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value((order != null) ? order.value() : null).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value(perPage).isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("sparkline")
                                .value(sparkline).isRequired(false))
                        .queryParam(param -> param.key("price_change_percentage")
                                .value(priceChangePercentage).isRequired(false))
                        .queryParam(param -> param.key("locale")
                                .value((locale != null) ? locale.value() : null).isRequired(false))
                        .queryParam(param -> param.key("precision")
                                .value((precision != null) ? precision.value() : null).isRequired(false))
                        .queryParam(param -> param.key("include_rehypothecated")
                                .value(includeRehypothecated).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        CoinsMarket[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query the coin tickers on both centralized exchange (CEX) and decentralized exchange (DEX)
     * based on a particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list)
     * @param  exchangeIds  Optional parameter: Exchange ID. *refers to
     *         [`/exchanges/list`](/reference/exchanges-list)
     * @param  includeExchangeLogo  Optional parameter: Include exchange logo. Default: false
     * @param  page  Optional parameter: Page through results
     * @param  order  Optional parameter: Sort the order of responses. Default: trust_score_desc
     * @param  depth  Optional parameter: Include 2% orderbook depth, i.e. `cost_to_move_up_usd` and
     *         `cost_to_move_down_usd`. Default: false
     * @param  dexPairFormat  Optional parameter: Set to `symbol` to display DEX pair base and
     *         target as symbols. Default: `contract_address`
     * @return    Returns the CoinsIdTickers wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CoinsIdTickers> coinsIdTickers(
            final String id,
            final String exchangeIds,
            final Boolean includeExchangeLogo,
            final Integer page,
            final Order1 order,
            final Boolean depth,
            final DexPairFormat dexPairFormat) throws ApiException, IOException {
        return prepareCoinsIdTickersRequest(id, exchangeIds, includeExchangeLogo, page, order,
                depth, dexPairFormat).execute();
    }

    /**
     * To query the coin tickers on both centralized exchange (CEX) and decentralized exchange (DEX)
     * based on a particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list)
     * @param  exchangeIds  Optional parameter: Exchange ID. *refers to
     *         [`/exchanges/list`](/reference/exchanges-list)
     * @param  includeExchangeLogo  Optional parameter: Include exchange logo. Default: false
     * @param  page  Optional parameter: Page through results
     * @param  order  Optional parameter: Sort the order of responses. Default: trust_score_desc
     * @param  depth  Optional parameter: Include 2% orderbook depth, i.e. `cost_to_move_up_usd` and
     *         `cost_to_move_down_usd`. Default: false
     * @param  dexPairFormat  Optional parameter: Set to `symbol` to display DEX pair base and
     *         target as symbols. Default: `contract_address`
     * @return    Returns the CoinsIdTickers wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CoinsIdTickers>> coinsIdTickersAsync(
            final String id,
            final String exchangeIds,
            final Boolean includeExchangeLogo,
            final Integer page,
            final Order1 order,
            final Boolean depth,
            final DexPairFormat dexPairFormat) {
        try {
            return prepareCoinsIdTickersRequest(id, exchangeIds, includeExchangeLogo, page, order, depth,
            dexPairFormat).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsIdTickers.
     */
    private ApiCall<ApiResponse<CoinsIdTickers>, ApiException> prepareCoinsIdTickersRequest(
            final String id,
            final String exchangeIds,
            final Boolean includeExchangeLogo,
            final Integer page,
            final Order1 order,
            final Boolean depth,
            final DexPairFormat dexPairFormat) {
        return new ApiCall.Builder<ApiResponse<CoinsIdTickers>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}/tickers")
                        .queryParam(param -> param.key("exchange_ids")
                                .value(exchangeIds).isRequired(false))
                        .queryParam(param -> param.key("include_exchange_logo")
                                .value(includeExchangeLogo).isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value((order != null) ? order.value() : null).isRequired(false))
                        .queryParam(param -> param.key("depth")
                                .value(depth).isRequired(false))
                        .queryParam(param -> param.key("dex_pair_format")
                                .value((dexPairFormat != null) ? dexPairFormat.value() : null).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CoinsIdTickers.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query the historical data (price, market cap, 24hrs volume, etc.) at a given date for a
     * coin based on a particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list).
     * @param  date  Required parameter: The date of data snapshot. Format: `dd-mm-yyyy`
     * @param  localization  Optional parameter: Include all the localized languages in response.
     *         Default: true
     * @return    Returns the CoinsIdHistory wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CoinsIdHistory> coinsIdHistory(
            final String id,
            final String date,
            final Boolean localization) throws ApiException, IOException {
        return prepareCoinsIdHistoryRequest(id, date, localization).execute();
    }

    /**
     * To query the historical data (price, market cap, 24hrs volume, etc.) at a given date for a
     * coin based on a particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list).
     * @param  date  Required parameter: The date of data snapshot. Format: `dd-mm-yyyy`
     * @param  localization  Optional parameter: Include all the localized languages in response.
     *         Default: true
     * @return    Returns the CoinsIdHistory wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CoinsIdHistory>> coinsIdHistoryAsync(
            final String id,
            final String date,
            final Boolean localization) {
        try {
            return prepareCoinsIdHistoryRequest(id, date, localization).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsIdHistory.
     */
    private ApiCall<ApiResponse<CoinsIdHistory>, ApiException> prepareCoinsIdHistoryRequest(
            final String id,
            final String date,
            final Boolean localization) {
        return new ApiCall.Builder<ApiResponse<CoinsIdHistory>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}/history")
                        .queryParam(param -> param.key("date")
                                .value(date))
                        .queryParam(param -> param.key("localization")
                                .value(localization).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CoinsIdHistory.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To get the historical chart data of a coin including time in UNIX, price, market cap and
     * 24hrs volume based on particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list).
     * @param  vsCurrency  Required parameter: Target currency of market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  days  Required parameter: Data up to number of days ago. You may use any integer or
     *         `max` for number of days.
     * @param  interval  Optional parameter: Data interval, leave empty for auto granularity.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the CoinsMarketChart wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CoinsMarketChart> coinsIdMarketChart(
            final String id,
            final String vsCurrency,
            final String days,
            final Interval interval,
            final Precision precision) throws ApiException, IOException {
        return prepareCoinsIdMarketChartRequest(id, vsCurrency, days, interval,
                precision).execute();
    }

    /**
     * To get the historical chart data of a coin including time in UNIX, price, market cap and
     * 24hrs volume based on particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list).
     * @param  vsCurrency  Required parameter: Target currency of market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  days  Required parameter: Data up to number of days ago. You may use any integer or
     *         `max` for number of days.
     * @param  interval  Optional parameter: Data interval, leave empty for auto granularity.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the CoinsMarketChart wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CoinsMarketChart>> coinsIdMarketChartAsync(
            final String id,
            final String vsCurrency,
            final String days,
            final Interval interval,
            final Precision precision) {
        try {
            return prepareCoinsIdMarketChartRequest(id, vsCurrency, days, interval,
            precision).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsIdMarketChart.
     */
    private ApiCall<ApiResponse<CoinsMarketChart>, ApiException> prepareCoinsIdMarketChartRequest(
            final String id,
            final String vsCurrency,
            final String days,
            final Interval interval,
            final Precision precision) {
        return new ApiCall.Builder<ApiResponse<CoinsMarketChart>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}/market_chart")
                        .queryParam(param -> param.key("vs_currency")
                                .value(vsCurrency))
                        .queryParam(param -> param.key("days")
                                .value(days))
                        .queryParam(param -> param.key("interval")
                                .value((interval != null) ? interval.value() : null).isRequired(false))
                        .queryParam(param -> param.key("precision")
                                .value((precision != null) ? precision.value() : null).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CoinsMarketChart.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To get the historical chart data of a coin within certain time range in UNIX along with
     * price, market cap and 24hrs volume based on particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list).
     * @param  vsCurrency  Required parameter: Target currency of market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  from  Required parameter: Starting date in UNIX timestamp.
     * @param  to  Required parameter: Ending date in UNIX timestamp.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the CoinsMarketChart wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CoinsMarketChart> coinsIdMarketChartRange(
            final String id,
            final String vsCurrency,
            final int from,
            final int to,
            final Precision precision) throws ApiException, IOException {
        return prepareCoinsIdMarketChartRangeRequest(id, vsCurrency, from, to, precision).execute();
    }

    /**
     * To get the historical chart data of a coin within certain time range in UNIX along with
     * price, market cap and 24hrs volume based on particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list).
     * @param  vsCurrency  Required parameter: Target currency of market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  from  Required parameter: Starting date in UNIX timestamp.
     * @param  to  Required parameter: Ending date in UNIX timestamp.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the CoinsMarketChart wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CoinsMarketChart>> coinsIdMarketChartRangeAsync(
            final String id,
            final String vsCurrency,
            final int from,
            final int to,
            final Precision precision) {
        try {
            return prepareCoinsIdMarketChartRangeRequest(id, vsCurrency, from, to,
            precision).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsIdMarketChartRange.
     */
    private ApiCall<ApiResponse<CoinsMarketChart>, ApiException> prepareCoinsIdMarketChartRangeRequest(
            final String id,
            final String vsCurrency,
            final int from,
            final int to,
            final Precision precision) {
        return new ApiCall.Builder<ApiResponse<CoinsMarketChart>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}/market_chart/range")
                        .queryParam(param -> param.key("vs_currency")
                                .value(vsCurrency))
                        .queryParam(param -> param.key("from")
                                .value(from).isRequired(false))
                        .queryParam(param -> param.key("to")
                                .value(to).isRequired(false))
                        .queryParam(param -> param.key("precision")
                                .value((precision != null) ? precision.value() : null).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CoinsMarketChart.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To get the OHLC chart (Open, High, Low, Close) of a coin based on particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list).
     * @param  vsCurrency  Required parameter: Target currency of price data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  days  Required parameter: Data up to number of days ago.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the List of Double wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<List<Double>>> coinsIdOhlc(
            final String id,
            final String vsCurrency,
            final Days days,
            final Precision precision) throws ApiException, IOException {
        return prepareCoinsIdOhlcRequest(id, vsCurrency, days, precision).execute();
    }

    /**
     * To get the OHLC chart (Open, High, Low, Close) of a coin based on particular coin ID.
     * @param  id  Required parameter: Coin ID. *refers to [`/coins/list`](/reference/coins-list).
     * @param  vsCurrency  Required parameter: Target currency of price data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  days  Required parameter: Data up to number of days ago.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the List of Double wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<List<Double>>>> coinsIdOhlcAsync(
            final String id,
            final String vsCurrency,
            final Days days,
            final Precision precision) {
        try {
            return prepareCoinsIdOhlcRequest(id, vsCurrency, days, precision).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsIdOhlc.
     */
    private ApiCall<ApiResponse<List<List<Double>>>, ApiException> prepareCoinsIdOhlcRequest(
            final String id,
            final String vsCurrency,
            final Days days,
            final Precision precision) {
        return new ApiCall.Builder<ApiResponse<List<List<Double>>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}/ohlc")
                        .queryParam(param -> param.key("vs_currency")
                                .value(vsCurrency))
                        .queryParam(param -> param.key("days")
                                .value((days != null) ? days.value() : "1"))
                        .queryParam(param -> param.key("precision")
                                .value((precision != null) ? precision.value() : null).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response,
                                        new TypeReference<List<List<Double>>>(){}))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the metadata (image, websites, socials, description, contract address, etc.) and
     * market data (price, ATH, exchange tickers, etc.) of a coin based on an asset platform and a
     * particular token contract address.
     * @param  id  Required parameter: Asset platform ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list).
     * @param  contractAddress  Required parameter: The contract address of token.
     * @return    Returns the CoinsContractAddress wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CoinsContractAddress> coinsContractAddress(
            final String id,
            final String contractAddress) throws ApiException, IOException {
        return prepareCoinsContractAddressRequest(id, contractAddress).execute();
    }

    /**
     * To query all the metadata (image, websites, socials, description, contract address, etc.) and
     * market data (price, ATH, exchange tickers, etc.) of a coin based on an asset platform and a
     * particular token contract address.
     * @param  id  Required parameter: Asset platform ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list).
     * @param  contractAddress  Required parameter: The contract address of token.
     * @return    Returns the CoinsContractAddress wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CoinsContractAddress>> coinsContractAddressAsync(
            final String id,
            final String contractAddress) {
        try {
            return prepareCoinsContractAddressRequest(id, contractAddress).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsContractAddress.
     */
    private ApiCall<ApiResponse<CoinsContractAddress>, ApiException> prepareCoinsContractAddressRequest(
            final String id,
            final String contractAddress) {
        return new ApiCall.Builder<ApiResponse<CoinsContractAddress>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}/contract/{contract_address}")
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("contract_address").value(contractAddress)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CoinsContractAddress.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To get the historical chart data including time in UNIX, price, market cap and 24hrs volume
     * based on asset platform and particular token contract address.
     * @param  id  Required parameter: Asset platform ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list).
     * @param  contractAddress  Required parameter: The contract address of token.
     * @param  vsCurrency  Required parameter: Target currency of market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  days  Required parameter: Data up to number of days ago. You may use any integer or
     *         `max` for number of days.
     * @param  interval  Optional parameter: Data interval, leave empty for auto granularity.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the CoinsMarketChart wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CoinsMarketChart> contractAddressMarketChart(
            final String id,
            final String contractAddress,
            final String vsCurrency,
            final String days,
            final Interval interval,
            final Precision precision) throws ApiException, IOException {
        return prepareContractAddressMarketChartRequest(id, contractAddress, vsCurrency, days,
                interval, precision).execute();
    }

    /**
     * To get the historical chart data including time in UNIX, price, market cap and 24hrs volume
     * based on asset platform and particular token contract address.
     * @param  id  Required parameter: Asset platform ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list).
     * @param  contractAddress  Required parameter: The contract address of token.
     * @param  vsCurrency  Required parameter: Target currency of market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  days  Required parameter: Data up to number of days ago. You may use any integer or
     *         `max` for number of days.
     * @param  interval  Optional parameter: Data interval, leave empty for auto granularity.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the CoinsMarketChart wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CoinsMarketChart>> contractAddressMarketChartAsync(
            final String id,
            final String contractAddress,
            final String vsCurrency,
            final String days,
            final Interval interval,
            final Precision precision) {
        try {
            return prepareContractAddressMarketChartRequest(id, contractAddress, vsCurrency, days, interval,
            precision).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for contractAddressMarketChart.
     */
    private ApiCall<ApiResponse<CoinsMarketChart>, ApiException> prepareContractAddressMarketChartRequest(
            final String id,
            final String contractAddress,
            final String vsCurrency,
            final String days,
            final Interval interval,
            final Precision precision) {
        return new ApiCall.Builder<ApiResponse<CoinsMarketChart>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}/contract/{contract_address}/market_chart")
                        .queryParam(param -> param.key("vs_currency")
                                .value(vsCurrency))
                        .queryParam(param -> param.key("days")
                                .value(days))
                        .queryParam(param -> param.key("interval")
                                .value((interval != null) ? interval.value() : null).isRequired(false))
                        .queryParam(param -> param.key("precision")
                                .value((precision != null) ? precision.value() : null).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("contract_address").value(contractAddress)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CoinsMarketChart.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To get the historical chart data within certain time range in UNIX along with price, market
     * cap and 24hrs volume based on asset platform and particular token contract address.
     * @param  id  Required parameter: Asset platform ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list).
     * @param  contractAddress  Required parameter: The contract address of token.
     * @param  vsCurrency  Required parameter: Target currency of market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  from  Required parameter: Starting date in UNIX timestamp.
     * @param  to  Required parameter: Ending date in UNIX timestamp.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the CoinsMarketChart wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CoinsMarketChart> contractAddressMarketChartRange(
            final String id,
            final String contractAddress,
            final String vsCurrency,
            final int from,
            final int to,
            final Precision precision) throws ApiException, IOException {
        return prepareContractAddressMarketChartRangeRequest(id, contractAddress, vsCurrency, from,
                to, precision).execute();
    }

    /**
     * To get the historical chart data within certain time range in UNIX along with price, market
     * cap and 24hrs volume based on asset platform and particular token contract address.
     * @param  id  Required parameter: Asset platform ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list).
     * @param  contractAddress  Required parameter: The contract address of token.
     * @param  vsCurrency  Required parameter: Target currency of market data. *refers to
     *         [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).
     * @param  from  Required parameter: Starting date in UNIX timestamp.
     * @param  to  Required parameter: Ending date in UNIX timestamp.
     * @param  precision  Optional parameter: Decimal place for currency price value.
     * @return    Returns the CoinsMarketChart wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CoinsMarketChart>> contractAddressMarketChartRangeAsync(
            final String id,
            final String contractAddress,
            final String vsCurrency,
            final int from,
            final int to,
            final Precision precision) {
        try {
            return prepareContractAddressMarketChartRangeRequest(id, contractAddress, vsCurrency, from, to,
            precision).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for contractAddressMarketChartRange.
     */
    private ApiCall<ApiResponse<CoinsMarketChart>, ApiException> prepareContractAddressMarketChartRangeRequest(
            final String id,
            final String contractAddress,
            final String vsCurrency,
            final int from,
            final int to,
            final Precision precision) {
        return new ApiCall.Builder<ApiResponse<CoinsMarketChart>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/{id}/contract/{contract_address}/market_chart/range")
                        .queryParam(param -> param.key("vs_currency")
                                .value(vsCurrency))
                        .queryParam(param -> param.key("from")
                                .value(from).isRequired(false))
                        .queryParam(param -> param.key("to")
                                .value(to).isRequired(false))
                        .queryParam(param -> param.key("precision")
                                .value((precision != null) ? precision.value() : null).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("contract_address").value(contractAddress)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CoinsMarketChart.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the supported asset platforms (blockchain networks) on CoinGecko.
     * @param  filter  Optional parameter: Apply relevant filters to results.
     * @return    Returns the List of AssetPlatform wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<AssetPlatform>> assetPlatformsList(
            final Filter filter) throws ApiException, IOException {
        return prepareAssetPlatformsListRequest(filter).execute();
    }

    /**
     * To query all the supported asset platforms (blockchain networks) on CoinGecko.
     * @param  filter  Optional parameter: Apply relevant filters to results.
     * @return    Returns the List of AssetPlatform wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<AssetPlatform>>> assetPlatformsListAsync(
            final Filter filter) {
        try {
            return prepareAssetPlatformsListRequest(filter).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for assetPlatformsList.
     */
    private ApiCall<ApiResponse<List<AssetPlatform>>, ApiException> prepareAssetPlatformsListRequest(
            final Filter filter) {
        return new ApiCall.Builder<ApiResponse<List<AssetPlatform>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/asset_platforms")
                        .queryParam(param -> param.key("filter")
                                .value((filter != null) ? filter.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        AssetPlatform[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To get full list of tokens of a blockchain network (asset platform) that is supported by
     * [Ethereum token list standard](https://tokenlists.org/).
     * @param  assetPlatformId  Required parameter: Asset platform ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list).
     * @return    Returns the TokenLists wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<TokenLists> tokenLists(
            final String assetPlatformId) throws ApiException, IOException {
        return prepareTokenListsRequest(assetPlatformId).execute();
    }

    /**
     * To get full list of tokens of a blockchain network (asset platform) that is supported by
     * [Ethereum token list standard](https://tokenlists.org/).
     * @param  assetPlatformId  Required parameter: Asset platform ID. *refers to
     *         [`/asset_platforms`](/reference/asset-platforms-list).
     * @return    Returns the TokenLists wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<TokenLists>> tokenListsAsync(
            final String assetPlatformId) {
        try {
            return prepareTokenListsRequest(assetPlatformId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for tokenLists.
     */
    private ApiCall<ApiResponse<TokenLists>, ApiException> prepareTokenListsRequest(
            final String assetPlatformId) {
        return new ApiCall.Builder<ApiResponse<TokenLists>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/token_lists/{asset_platform_id}/all.json")
                        .templateParam(param -> param.key("asset_platform_id").value(assetPlatformId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, TokenLists.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the supported coins categories on CoinGecko.
     * @return    Returns the List of CategoriesList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<CategoriesList>> coinsCategoriesList() throws ApiException, IOException {
        return prepareCoinsCategoriesListRequest().execute();
    }

    /**
     * To query all the supported coins categories on CoinGecko.
     * @return    Returns the List of CategoriesList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<CategoriesList>>> coinsCategoriesListAsync() {
        try {
            return prepareCoinsCategoriesListRequest().executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsCategoriesList.
     */
    private ApiCall<ApiResponse<List<CategoriesList>>, ApiException> prepareCoinsCategoriesListRequest() {
        return new ApiCall.Builder<ApiResponse<List<CategoriesList>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/categories/list")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        CategoriesList[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the coins categories with market data (market cap, volume, etc.) on CoinGecko.
     * @param  order  Optional parameter: Sort results by field. Default: `market_cap_desc`
     * @return    Returns the List of Category1 wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<Category1>> coinsCategories(
            final Order2 order) throws ApiException, IOException {
        return prepareCoinsCategoriesRequest(order).execute();
    }

    /**
     * To query all the coins categories with market data (market cap, volume, etc.) on CoinGecko.
     * @param  order  Optional parameter: Sort results by field. Default: `market_cap_desc`
     * @return    Returns the List of Category1 wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<Category1>>> coinsCategoriesAsync(
            final Order2 order) {
        try {
            return prepareCoinsCategoriesRequest(order).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for coinsCategories.
     */
    private ApiCall<ApiResponse<List<Category1>>, ApiException> prepareCoinsCategoriesRequest(
            final Order2 order) {
        return new ApiCall.Builder<ApiResponse<List<Category1>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/coins/categories")
                        .queryParam(param -> param.key("order")
                                .value((order != null) ? order.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        Category1[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the supported exchanges with exchanges' data (ID, name, country, etc.) that have
     * active trading volumes on CoinGecko.
     * @param  perPage  Optional parameter: Total results per page. Default: 100. Valid values:
     *         1...250
     * @param  page  Optional parameter: Page through results. Default: 1
     * @return    Returns the List of Exchange1 wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<Exchange1>> exchanges(
            final Double perPage,
            final Double page) throws ApiException, IOException {
        return prepareExchangesRequest(perPage, page).execute();
    }

    /**
     * To query all the supported exchanges with exchanges' data (ID, name, country, etc.) that have
     * active trading volumes on CoinGecko.
     * @param  perPage  Optional parameter: Total results per page. Default: 100. Valid values:
     *         1...250
     * @param  page  Optional parameter: Page through results. Default: 1
     * @return    Returns the List of Exchange1 wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<Exchange1>>> exchangesAsync(
            final Double perPage,
            final Double page) {
        try {
            return prepareExchangesRequest(perPage, page).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for exchanges.
     */
    private ApiCall<ApiResponse<List<Exchange1>>, ApiException> prepareExchangesRequest(
            final Double perPage,
            final Double page) {
        return new ApiCall.Builder<ApiResponse<List<Exchange1>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/exchanges")
                        .queryParam(param -> param.key("per_page")
                                .value(perPage).isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("headerAuth")
                                        .add("queryAuth")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        Exchange1[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * To query all the supported exchanges with ID and name.
     * @param  status  Optional parameter: Filter by status of exchanges. Default: `active`
     * @return    Returns the List of ExchangesList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<ExchangesList>> exchangesList(
            final Status status) throws ApiException, IOException {
        return prepareExchangesListRequest(status).execute();
    }

    /**
     * To query all the supported exchanges with ID and name.
[...]
